body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    background-color: rgb(23, 27, 28);
}
html{
    background-color: rgb(23, 27, 28);
}
.container {

    width: 95vw;
    /* margin-top: 10vh; */
    display: grid;
    /* box-sizing: border-box; */
    /* grid-template-columns: 30% 40% 30%; */
    grid-template-columns: 50px auto 50px;
    justify-content: space-between;
    border: none;
}

.container > div {
    text-align: center;
}

textarea{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    size: 16;
    font-size: 1.1rem;
    resize: none;
    border: none;
    color: #d0d0d0;
    background-color: rgb(23, 27, 28);
    
}


/* 
.three-columns {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-columns: 50px auto 50px;
    }
 */

.nums {
    display: flex;
    flex-direction: column;
    /* width: 50px; */

}


#playground {
    border-style: solid;
    border-color: #d0d0d0;
    
}

.remark {
    background-color: #3e3e3e;
    width: 50px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 8px;
    border: none;
    color: #d0d0d0;
    font-size: 1.1rem;
}

.remark:hover {
    opacity: 0.7;
}

.menu:hover {
    opacity: 0.7;
}

.dial {
    background-color: #3e3e3e;
    width: 50px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 8px;
    border: none;
    color: #d0d0d0;
    font-size: 1.1rem; 
    
}

.dial:hover {
    opacity: 0.7;
}

.numsL {
    display: flex;
    flex-direction: column;
    /* width: 50px; */
    align-items: flex-end;
   
    
}

.menu {
    background-color: #7e7d7d;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    border: none;
    color: #fff;
    /* font-size: 1.1rem;   */
}
