body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    background-color: rgb(23, 27, 28);
}
html{
    background-color: rgb(23, 27, 28);
}
.container {

    width: 96vw;
    max-width: 350px;
    /* margin-top: 10vh; */
    display: grid;
    box-sizing: border-box;
    /* grid-template-columns: 30% 40% 30%; */
    grid-template-columns: 50px auto 50px;
    justify-content: space-between;
    border: none;
}

.container > div {
    text-align: center;
}

textarea{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    size: 16;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
    overflow: hidden;
    border: none;
    color: #f0f0f0;
    background-color: rgb(23, 27, 28);
    
}
textarea::-webkit-scrollbar{
    display: none;
}


/* 
.three-columns {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-columns: 50px auto 50px;
    }
 */

.nums {
    display: flex;
    flex-direction: column;
    /* width: 50px; */

}


#playground {
    border-style: solid;
    border-color: rgb(23, 27, 28);

    
}

.remark {
    background-color: rgb(80,80,80);
    width: 50px;
    height: 38px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 8px;
    border: none;
    color: rgb(238, 238, 238);
    font-size: 1.1rem;
}

/* .remark:hover {
    opacity: 0.7;
}

.menu:hover {
    opacity: 0.7;
} */

.dial {
    background-color: rgb(80,80,80);
    width: 50px;
    height: 38px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 8px;
    border: none;
    color: rgb(238, 238, 238);
    font-size: 1.1rem; 
    
}

/* .dial:hover {
    opacity: 0.7;
} */

.numsL {
    display: flex;
    flex-direction: column;
    /* width: 50px; */
    align-items: flex-end;
   
    
}

.menu {
    background-color: #898989;
    width: 50px;
    height: 38px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    margin-top: 16px;
    border: none;
    color: rgb(23, 27, 28);
    /* font-size: 1.1rem;   */
}

button:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
   }